services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
    volumes:
      - .:/app
    command: >
      bash -c "python manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: courier
      POSTGRES_PASSWORD: courier
      POSTGRES_DB: courier_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
